.card-body{
	background-color:#f8f9fa;
}

.card-text p{
	text-indent: 50px;
}

.card-img-top{
	max-height: 225px;
    width: 100%;
    display: block;
}

.card-title{
	font-size: 1em;
}

.col-sm-4{
	margin-bottom: 5px;
}

.sessao_produtos{
	background-color: #e9ecef;
}

.sessao_produtos h2{
	color: #803f1a;
	font-weight: bolder;
}


.form-row{
	margin-bottom: 1rem;
}

.idade{
	color: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: bolder;
}

.btn-idade{
	text-align: center
}

.btn-idade a{
	background-color: #fff;
	padding: 5px 5px 5px 5px;
}